{# empty Twig template #}
{% extends '::base.html.twig'%}
{% block title %} ENI Blog - {%endblock%}
{% block stylesheets %} 
    <link href="{{asset('bundles/blogfront/css/general.css')}}" rel="stylesheet" type="text/css"/>
{%endblock%}

{% block body %}
    <header>
    {%block header %}
        <p class="logo">
            <a href="{{path('index')}}">
                <img src="{{asset('bundles/blogfront/img/logo_eni.jpg')}}" alt="logo ENI" class="logoeni"/>
            </a>
        <h1>ENI BLOG</h1>
        <div class="clear"></div>
        <ul class="menu">
  {# path appelle la route index qui se trouve dans le fichier routing.yml #}
            <li><a href="{{path('index')}}">Accueil</a></li> 
            <li><a href="{{path('about')}}">A propos</a></li> 
        </ul>
        <div class="clear"></div>
        </p>
        <hr>
    {%endblock%}
    </header>
<main>
{%block contenu %}{%endblock%}
</main>
<footer>
{%block footer %}&copy;2018-Eni Ecole - tous droits réservés{%endblock%}
</footer>
{%endblock%}    
